@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --color-primary: #f4ce14;
  --color-secondary: #379777;
  --color-tertiary: #45474b;
  --color-blue: #0089ed;
  --color-pink: #e1057c;
  --color-mainBG: #f5f7f8;
  --color-redBg: #ffd3d3;
  --color-greenBg: #e1fcef;
  --color-purpleBg: #ededfc;
  --color-yellowBg: #fcf2e6;
  --color-redDot: #aa0000;
  --color-greenDot: #38a06c;
  --color-purpleDot: #807cea;
  --color-yellowDot: #c97a20;
  --font-ubuntu: Ubuntu, sans-serif;
  --font-poppins: Poppins, sans-serif;
  --font-roboto: Roboto, sans-serif;
}
